name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        
    - name: Install dependencies
      run: npm install
      
    - name: Package Extension
      run: npx vsce package
      
    - name: Get Version
      id: get_version
      shell: bash
      # Remove 'v' prefix to match CHANGELOG version format (e.g. v1.0.1 -> 1.0.1)
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

    - name: Get Changelog Entry
      id: changelog_reader
      uses: mindsers/changelog-reader-action@v2
      with:
        version: ${{ steps.get_version.outputs.VERSION }}
        path: ./CHANGELOG.md

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: "*.vsix"
        draft: false
        prerelease: false
        body: ${{ steps.changelog_reader.outputs.changes }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Update latest tag
      uses: EndBug/latest-tag@latest
      with:
        tag-name: latest
        description: latest release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
